# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
.pytest_cache
.coverage
*.log
.DS_Store
__pycache__/
/__pycache__
*.py[cod]
*$py.class


# React
node_modules
dist
.env
.git
.DS_Store

# Virtual Environment (Don't copy local venv)
venv/
env/
ENV/
.venv
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
Makefile

# Project
*.db
*.sqlite3
.env
.env.*
!.env.example
uploads/*
!uploads/.gitkeep
logs/*
render.yaml
backend_fk/
.env
.logs
.log
log
log/
logs/
test
tests
backend/test*
init
*.sql

# Git
.git
.gitignore
.git/


# Docker (Don't copy Docker files into container)
Dockerfile*
docker-compose*.yml
.dockerignore
Dockerfile

# Documentation
README.md
docs/
Makefile

notes
notes.txt